body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.carousel {
  width: 90vw !important;
  height: 370px !important;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .carousel {
    width: 90vw !important;
    height: 10rem !important;
    margin: auto;
  }
  .cursive-font {
    font-size: xx-large !important;
  }
}
@media only screen and (max-width: 360px) {
  .navbar-brand {
    font-size: x-large !important;
  }
}
.navbar-toggler-icon{
  background-image: "data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba%280, 0, 0, 0.1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>" !important;
}
.carousel-inner {
  height: 90% !important;
}

cursive-font {
  font-family: "'Square Peg', cursive";
  color: "black";
  padding: 5px;
  font-size: "-webkit-xxx-large";
  padding: 10px;
  text-align: center;
}

.card {
  border-radius: 0 !important;
}

.card-img-top {
  padding: 10px !important;
}

.card-text {
  color: #706c6c;
}